@mixin app-add-on($theme) {
  .app-add-on {

    border: solid 1px map-get($theme, 'border');

    &__content {

      &__price-info {

        &__name {
          color: map-get($theme, 'color-primary');
        }

        &__description {
          color: map-get($theme, 'color-secondary');
        }
      }

      &__price {
        color: map-get($theme, 'color-primary');
      }
    }

    &:hover {
      border-color: map-get($theme, 'color-active');
    }

    &--checked {
      border-color: map-get($theme, 'color-active');
      background-color: map-get($theme, 'background-color-active');
    }
  }
}
