<div class="app-add-on__checkbox">
  @if (formControl) {
    <app-checkbox
      #checkbox
      [formControl]="formControl"
      [checked]="formControl.value"
      (click)="handleClick($event)"
    />
  }
</div>

<div class="app-add-on__content" aria-label="Add-on information">
  <div class="app-add-on__content__price-info">
    <div class="app-add-on__content__price-info__name" aria-label="Add-on name">{{ name }}</div>
    <div class="app-add-on__content__price-info__description" aria-label="Add-on description">{{ description }}</div>
  </div>
  <div class="app-add-on__content__price" aria-label="Add-on price">+${{ prices[period ? 'yearly' : 'monthly'] }}/{{ period ? 'yr' : 'mo' }}</div>
</div>
