.app-add-on {

  margin-bottom: 12px;
  cursor: pointer;
  display: flex;
  width: 100%;
  border: solid 1px silver;
  padding: 15px;
  border-radius: 0.5rem;
  justify-content: space-between;
  align-items: center;

  &__checkbox {
    margin-right: 15px;
  }

  &__content {

    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    &__price-info {

      &__name {
        font-weight: bold;
        margin-bottom: 6px;
      }

      &__description {
        font-size: 0.9rem;
        font-weight: 500;
      }
    }

    &__price {
      font-weight: 500;
      font-size: 0.9rem;
    }
  }

  &:hover {
    border-color: darkgray;
  }

  &--checked {
    border-color: black;

    &:hover {
      border-color: black;
    }
  }

  @media (min-width: 768px) {
    padding: 21px 23px;
  }
}
