<div class="checkbox">
  <input
    type="checkbox"
    (change)="onChanged($event)"
    (blur)="regOnTouched()"
    [checked]="checked"
    [disabled]="isDisabled"
  />
  <label></label>
</div>

<div class="content" aria-label="Add-on information">
  <div class="price-label">
    <div class="name" aria-label="Add-on name">{{ name }}</div>
    <div class="description" aria-label="Add-on description">{{ description }}</div>
  </div>
  <div class="price" aria-label="Add-on price">+${{ prices[period ? 'yearly' : 'monthly'] }}/{{ period ? 'yr' : 'mo' }}</div>
</div>
