<ng-template #defaultTemplate>
  <div class="header">
    @for (labelTemplate of labelTemplates; let i = $index; track labelTemplate) {
      <div class="item" [class.active]="i === stepperComponent.step()" (click)="stepperComponent.setStep(i)">
        <div class="number">{{ i + 1 }}</div>
        @if (labelTemplate) {
          <div class="title">
            <ng-content *ngTemplateOutlet="labelTemplate"></ng-content>
          </div>
        }
      </div>
    }
  </div>
</ng-template>

<ng-container *ngTemplateOutlet="customTemplate || defaultTemplate" />
