@mixin app-input($theme) {
  .app-input {

    &__label {

      &__value {
        color: map-get($theme, 'color-primary');
      }

      &__error {
        color: map-get($theme, 'color-error');
      }
    }

    input {
      border: solid 1px map-get($theme, 'border');
      color: map-get($theme, 'color-primary');

      &:focus {
        border-color: map-get($theme, 'color-primary');
      }

      &::placeholder {
        color: map-get($theme, 'color-secondary');
      }
    }

    &.ng-invalid.ng-touched {
      input {
        border-color: map-get($theme, 'color-error');
      }
    }
  }
}
