@import '../../../../styles/variables';

:host {

  label {
    display: inline-block;
    position: relative;

    input {
      height: 20px;
      width: 38px;
      margin: 0;
      padding: 0;
      opacity: 0;

      &:checked + .slider {
        background-color: $marine-blue;
      }

      &:checked + .slider:before {
        transform: translateX(18px);
      }
    }


  }
}

:host {

  background-color: $pale-blue;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 19px;

  .option {

    font-weight: bold;
    color: $cool-gray;
    transition: .4s;

    &.selected {
      color: $marine-blue;
    }
  }

  .checkbox {
    position: relative;

    input {
      opacity: 0;
      height: 20px;
      width: 38px;
      margin: 0;
      padding: 0;
    }

    input:checked + label {
      background-color: $marine-blue;
    }

    input:checked + label:before {
      transform: translateX(18px);
    }

    input:focus-visible + label:after {
      content: "";
      position: absolute;
      top: -3px;
      left: -3px;
      width: 100%;
      height: 100%;
      padding: 1px;
      border: solid 2px $black;
    }

    label {
      height: 20px;
      width: 38px;
      background-color: #ccc;
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transition: .4s;
      border-radius: 34px;

      &::before {
        background-color: #fff;
        bottom: 4px;
        content: "";
        height: 12px;
        left: 4px;
        position: absolute;
        transition: .4s;
        width: 12px;
        border-radius: 6px;
      }
    }
  }
}
