@import 'mixins';
@import 'variables';

label {

  cursor: pointer;
  display: flex;
  width: 100%;
  border: solid 1px $light-gray;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: 0.4s;

  .icon {
    margin-right: 15px;
    width: 40px;
  }

  input {
    display: none;
  }

  .description {
    .price-name {
      color: $marine-blue;
      font-weight: bold;
      margin-bottom: 6px;
    }
    .price {
      color: $cool-gray;
      font-size: 0.9rem;
      font-weight: 500;
    }
    .price-yearly-description {
      font-size: 0.9rem;
      color: $marine-blue;
    }
  }

  &:hover {
    border-color: $purplish-blue;
    background-color: $grayish-blue;
  }

  &.checked {
    border-color: $purplish-blue;
    background-color: $grayish-blue;
  }

  @include from-tablet {
    max-width: 137px;
    flex-direction: column;
    gap: 45px;
  }
}
