<img class="app-plan__icon" [src]="icon" [alt]="priceName + ' Icon'"/>

<div class="app-plan__description" aria-label="Plan information">
  <div class="app-plan__description__price-name" aria-label="Plan name">{{ priceName }}</div>
  <div class="app-plan__description__price" aria-label="Plan price">${{ prices[period ? 'yearly' : 'monthly'] }}/{{ period ? 'yr' : 'mo' }}</div>
  @if(period) {
    <div class="app-plan__description__price-yearly-discount" aria-label="Plan price with yearly discount">{{ yearlyDiscountDescription }}</div>
  }
</div>
