.app-register-form {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  &__stepper {

    overflow: auto;

    @media (min-width: 768px) {
      display: flex;
      background: white;
      padding: 16px;
      border-radius: 16px;
      box-shadow: 0 4px 15px 0 #e5e5e5;
    }

    &__header {

      display: block;
      background-image: url(/assets/images/bg-sidebar-mobile.svg);
      background-repeat: no-repeat;
      background-size: cover;
      height: 173px;
      padding-top: 32px;

      @media (min-width: 768px) {
        background-image: url(/assets/images/bg-sidebar-desktop.svg);
        width: 100%;
        max-width: 274px;
        border-radius: 16px;
        height: auto;
        padding: 40px 32px;
      }

      &__content {

        display: flex;
        gap: 16px;
        justify-content: center;

        @media (min-width: 768px) {
          gap: 32px;
          justify-content: flex-start;
          flex-direction: column;
        }

        &__item {

          cursor: pointer;
          height: 33px;
          width: 33px;

          @media (min-width: 768px) {
            display: flex;
            height: auto;
            width: auto;
          }

          &__number {

            width: 33px;
            height: 33px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            border: solid 1px white;
            border-radius: 100%;
            font-weight: 500;

          }

          &__info {

            display: none;

            @media (min-width: 768px) {
              display: block;
              margin-left: 16px;
            }

            &__step {
              font-size: 0.8rem;
              margin-bottom: 1px;
              color: white;
              text-transform: uppercase;
            }

            &__description {
              color: white;
              text-transform: uppercase;
              font-weight: 500;
            }
          }

          &--active {

            &__number {
              color: #575757;
              border-color: #a8a8a8;
              background-color: #a8a8a8;
            }
          }
        }
      }
    }

    &__steps {

      width: 100%;

      &__step {

        &__content {

          background: white;
          padding: 35px 26px;
          border-radius: 8px;
          margin: -73px 16px 16px;

          @media (min-width: 768px) {
            margin: 0;
            border-radius: 0;
            box-shadow: none;
            min-height: 530px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }

          &__body {

            max-width: 100%;

            &__header {

              max-width: 100%;
              margin-bottom: 24px;

              &__title {

                font-weight: bold;
                font-size: 1.5rem;
                color: #575757;
                margin-bottom: 16px;

                @media (min-width: 768px) {
                  font-size: 2rem;
                }
              }

              &__description {
                color: #adadad;
                line-height: 1.5rem;
              }

              @media (min-width: 768px) {
                max-width: 450px;
                margin-left: auto;
                margin-right: auto;
              }

            }

            &__plans {

              display: flex;
              flex-direction: column;
              gap: 16px;

              &__plan {

                @media (min-width: 768px) {
                  width: 100%;
                  max-width: 137px;
                }
              }

              @media (min-width: 768px) {
                flex-direction: row;
                justify-content: space-around;
              }
            }

            &__period {

              background-color: #fbfbfb;
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 24px;
              padding: 19px;
              margin-top: 24px;

              &__option {
                font-weight: 700;
                color: #9699ab;

                &--active {
                  color: #02295a;
                }
              }

              @media (min-width: 768px) {
                margin-top: 32px;
              }
            }

            &__summary {

              padding: 20px 15px;
              background-color: #e6e6e6;
              border-radius: 6px;

              &__selected-plan {

                display: flex;
                justify-content: space-between;
                align-items: center;

                &__name {
                  color: #575757;
                  font-weight: 700;
                  font-size: 15px;
                }

                &__price {
                  color: #575757;
                  font-weight: 700;
                }
              }

              &__adds-on {

                display: flex;
                justify-content: space-between;
                flex-direction: column;

                &__add-on {

                  display: flex;
                  justify-content: space-between;
                  margin-bottom: 12px;

                  &__title {
                    color: #adadad;
                  }

                  &__price {
                    color: #575757;
                  }

                  &:last-child {
                    margin-bottom: 0;
                  }
                }

              }

            }

            &__total {

              display: flex;
              justify-content: space-between;
              padding: 20px 15px 0;
              align-items: center;

              &__title {
                color: #adadad;
                font-size: 14px;
              }

              &__price {
                font-weight: 500;
                color: #f0f0f0;
                font-size: 18px;
              }
            }

            &__thank-you {

              display: flex;
              flex-direction: column;
              align-items: center;

              img {

                width: 55px;
                height: 55px;
                margin-bottom: 26px;

                @media (min-width: 768px) {
                  width: 80px;
                  height: 80px;
                }
              }

              &__title {
                font-size: 20px;
                font-weight: 700;
                margin-bottom: 16px;
                color: #575757;
              }

              &__description {
                color: #adadad;
                text-align: center;
              }
            }

            @media (min-width: 768px) {
              max-width: 450px;
              margin-left: auto;
              margin-right: auto;
              width: 100%;
            }
          }

          &__actions {

            max-width: 100%;
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 16px;
            background: white;

            @media (min-width: 768px) {
              position: static;
              padding: 0;
              max-width: 450px;
              margin-left: auto;
              margin-right: auto;
            }
          }

          &--centered {
            @media (min-width: 768px) {
              justify-content: center;
            }
          }
        }
      }
    }
  }
}
