.header {
  display: flex;
  justify-content: space-around;
  padding-top: 16px;
  padding-bottom: 16px;
  background: white;

  .item {
    display: flex;
    flex-wrap: nowrap;
    padding: 16px;
    cursor: pointer;
    font-weight: 500;
    border-bottom: solid;
    color: silver;
    overflow: hidden;

    &.active {
      color: black;
    }

    .title {
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-left: 16px;
    }
  }
}
