@import 'mixins';
@import 'variables';

:host {
  .label {
    display: flex;
    justify-content: space-between;
    font-size: 0.85rem;
    font-weight: 500;
    margin-bottom: 8px;
    color: $marine-blue;

    .error {
      color: $strawberry-red;
      font-weight: bold;
    }
  }

  input {
    width: 100%;
    border: solid 1px $light-gray;
    padding: 15px 18px;
    font-size: 1rem;
    border-radius: 8px;
    margin-bottom: 24px;
    font-weight: bold;
    color: $marine-blue;

    &:focus {
      outline: none;
      font-weight: bold;
      border-color: $marine-blue;
    }

    &::placeholder {
      color: $cool-gray;
    }
  }

  &.ng-invalid.ng-touched {
    input {
      border-color: $strawberry-red;
    }
  }

  &.small {
    input {
      padding: 14px 17px;
      border-radius: 4px;
    }

    .label {
      margin-bottom: 3px;
    }
  }
}
