@import 'variables';
@import 'mixins';

:host {

  @include button;

  color: $cool-gray;
  background-color: transparent;

  &:hover {
    color: $marine-blue;
    background-color: transparent;
  }

  &:active {
    color: $dark-blue;
    background-color: transparent;
  }
}
